/* default to border-box */
html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* adjust typography defaults */
body {
  margin: 0;
  font-family: sans-serif;
}

.nav {
  background-color: #f0f8ff;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  weight: 
}

.nav a {
  float: right;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.nav a:hover {
  background: #ddd;
  color: black;
}

.main {
  margin-top: 45px;
}

.name {
  font-size: 40px;
}

.title {
  font-size: 30px;
}

.text {
  font-size: 20px;
}

.presentation {
  background-color: #f0f8ff;
  height: 100vh;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
}

.competence {
  height: 100vh;
  background-color: red;
}

.realisation {
  height: 100vh;
  background-color: green;
}

/*Desktop*/
@media screen and (min-width: 1024px) {
  .presentation {
    padding-top: 100px;
  }

  .name {
    width: 80vw;
    align-self: center;
    text-align: center;
  }

  .photo {
    width: 200px;
    height: 200px;
    border: solid black;
    border-radius: 100%;
    text-align: center;
    position: absolute;
    margin-left: 15vw;
    margin-top: 8vh;
  }

  #propo {
    width: 50vw;
    text-align: justify;
    align-self: end;
    margin-right: 70px;
  }

  #cvPres {
    width: 50vw;
    text-align: justify;
    align-self: end;
    margin-right: 70px;
  }
}
/*Tablet*/
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .name {
    width: 80vw;
    align-self: center;
    text-align: center;
  }

  .photo {
    width: 200px;
    height: 200px;
    border: solid black;
    border-radius: 100%;
    text-align: center;
    align-self: center;
  }

  #propo {
    width: 80vw;
    text-align: center;
    align-self: center;
  }

  #cvPres {
    width: 80vw;
    text-align: justify;
    align-self: center;
  }
}
/*Phone*/
@media screen and (max-width: 767px) {
  .name {
    width: 80vw;
    align-self: center;
    text-align: center;
  }

  .photo {
    width: 200px;
    height: 200px;
    border: solid black;
    border-radius: 100%;
    text-align: center;
    align-self: center;
  }

  #propo {
    width: 80vw;
    text-align: center;
    align-self: center;
  }

  #cvPres {
    width: 80vw;
    text-align: justify;
    align-self: center;
  }
}
