
/* default to border-box */
html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* adjust typography defaults */
body {
  margin: 0;
  font-family: sans-serif;
}

.nav {
  background-color: grey;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
}

.nav a {
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.nav a:hover {
  background: #ddd;
  color: black;
}

.main {
  margin-top: 45px;
}

.name {
  font-size: 40px;
}

.title {
  font-size: 30px;
}

.text {
  font-size: 20px;
}

.presentation {
  background-color: blue;
  height: 100vh;
  display: flex;
  flex-direction: column;
}


.competence {
  heigth: 100vh;
  background-color: red;
}

.realisation {
  height: 100vh;
  background-color: green;
}

/*Desktop*/
@media screen and (min-width: 1024px){
  #propo {
    width: 50vw;
    text-align: justify;
    align-self: end;
    margin-right: 70px;
  }
  
  #cvPres {
    width: 50vw;
    text-align: justify;
    align-self: end;
    margin-right: 70px;
  }
}
/*Tablet*/
@media screen and (min-width: 768px) and (max-width: 1023px){
  #propo {
    width: 50vw;
    text-align: justify;
    align-self: end;
    margin-right: 50px;
  }
  
  #cvPres {
    width: 50vw;
    text-align: justify;
    align-self: end;
    margin-right: 50px;
  }
}
/*Phone*/
@media screen and (max-width: 767px){
  #propo {
    width: 80vw;
    text-align: center;
    align-self: center;
  }
  
  #cvPres {
    width: 80vw;
    text-align: justify;
    align-self: center;
  }
}